<!DOCTYPE html>

<div class="card">
  <img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="login-image" />

  <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        name="username"
        required
        minlength="3"
        [(ngModel)]="form.username"
        #username="ngModel"
      />
      <div *ngIf="username.errors && f.submitted" class="required-alert">
        <div
          *ngIf="username.errors['required']"
          role="alert"
        >
          Username is required to login!
        </div>
        <div
          *ngIf="username.errors['minlength']"
          role="alert"
        >
          Username must be at least 3 characters
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        [(ngModel)]="form.password"
        required
        minlength="6"
        #password="ngModel"
      />
      <div
        *ngIf="password.errors && f.submitted"
        class="required-alert"
        role="alert">
        <div *ngIf="password.errors['required']">
          Password is required to login!
        </div>
        <div *ngIf="password.errors['minlength']">
          Password must be at least 6 characters
        </div>
      </div>
      <div class="form-group">
        <button (click)="login()">Login</button>
      </div>
      <div class="form-group">
        <a class="create-new-user" routerLink="/register">Create new user</a>
      </div>
      <div class="form-group">
        <a class="continue-as-guest" routerLink="/guest-home"
          >Continue as guest</a
        >
      </div>
      <div class="form-group">
        <div *ngIf="isPostFailed" class="required-alert" role="alert" id="login-failed">
          Login failed
        </div>
      </div>
    </div>
  </form>
</div>
