/* Styles for the admin-question component */

.list-container {
  margin: 0 auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  box-shadow: 0 0.2rem 0.2rem rgb(0 0 0 / 30%);
  padding-bottom: 1rem;
}

.required-alert {
  color: #721c24;
  background-color: #fd9ca488;
  border-color: #721c24;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  border: 0.1rem solid;
  border-radius: 0.25rem;
}

.success-alert {
  color: #1c722f;
  background-color: #9cfdc188;
  border-color: #1c722f;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  border: 0.1rem solid;
  border-radius: 0.25rem;
}

h2 {
  margin-top: 1rem;
  padding: 1rem;
  align-self: center;
}

.create-buttons {
  margin: 0 auto;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
}

.list-item {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 0.5rem;
  padding: 1rem;
  width: 90%;
  box-shadow: 0 0.2rem 0.2rem rgb(0 0 0 / 30%);
  background-color: #e08dab54;
  user-select: none;
  transition: transform 0.25s;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  padding: 0.2rem;
  border-radius: 0.1rem;
}

label {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

input,
textarea,
select,
select option {
  border: 1px solid #000;
  border-radius: 0.2rem;
  font-size: medium;
}

input,
select,
select option {
  background-color: #fff;
  height: 1.8rem;
}

input:focus {
  outline: none;
}

textarea {
  resize: none;
  outline: none;
}

button {
  color: #fff;
  background-color: #007bff;
  border: 0;
  border-radius: 0.2rem;
  margin-left: 1rem;
  padding: 0.5rem;
}

button:hover {
  cursor: pointer;
  opacity: 0.5;
}

#submit-button {
  margin-top: 1rem;
}
