<!DOCTYPE html>

<section class="list-container">
  <h2>Quizzes</h2>
  <div class="create-buttons">
    <button routerLink="/admin-quiz-create">Create new quiz</button>
    <button routerLink="/admin-question">Create new question</button>
  </div>

  <!-- TODO Lägg till play button och skapa play-komponent -->
  <div *ngFor="let quiz of quizzes" class="list-item">
    <h3>{{ quiz.name }}</h3>
    <!-- TODO fixa en query som populatear med mer info om skaparen -->
    <p>Made by: {{ getCreatorDescription(quiz.creator) }}</p>
    <p>Cration date: {{ quiz.date | date : 'yyyy-MM-dd - hh:mm ' }}</p>
    <p>Difficulty: {{ quiz.level }}</p>

    <div class="button-group">
      <!-- TODO send the quiz object as data to the edit component -->
      <button routerLink="/admin-quiz-edit" [queryParams]="{ id: quiz._id }">
        Edit
      </button>
      <button (click)="onQuizDelete(quiz)">Delete</button>
    </div>
  </div>
</section>
