<!DOCTYPE html>

<section class="list-container">
  <h2>Quizzes</h2>
  <div class="create-buttons">
    <button routerLink="/admin-quiz">Create new quiz</button>
    <button routerLink="/admin-question">Create new question</button>
  </div>

  <!-- TODO populatea från databas -->
  <div class="list-item">
    <p>Title</p>
    <div class="button-group">
      <button>Edit</button>
      <button>Delete</button>
    </div>
  </div>
  <div class="list-item">
    <p>Title</p>
    <div class="button-group">
      <button>Edit</button>
      <button>Delete</button>
    </div>
  </div>
  <div class="list-item">
    <p>Title</p>
    <div class="button-group">
      <button>Edit</button>
      <button>Delete</button>
    </div>
  </div>
  <div class="list-item">
    <p>Title</p>
    <div class="button-group">
      <button>Edit</button>
      <button>Delete</button>
    </div>
  </div>
  <div class="list-item">
    <p>Title</p>
    <div class="button-group">
      <button>Edit</button>
      <button>Delete</button>
    </div>
  </div>
</section>
