<!DOCTYPE html>

<div class="component-container">
  <section class="list-container container1">
    <h2>Questions</h2>
    <input
      [(ngModel)]="searchString"
      class="search"
      type="text"
      placeholder="Search.."
    />

    <div *ngFor="let question of availableQuestions">
      <div
        class="list-item"
        *ngIf="
          searchStringMatch(question.name) ||
          searchStringMatch(question.question)
        "
      >
        <h3>{{ question.name }}</h3>
        <p>{{ question.question }}</p>
        <div class="button-group">
          <button (click)="onQuestionAdd(question)">Add</button>
        </div>
      </div>
    </div>
  </section>
  <section class="list-container container2">
    <h2 *ngIf="!isEditMode">New quiz</h2>
    <h2 *ngIf="isEditMode">Edit quiz</h2>
    <div class="create-buttons">
      <button (click)="onQuizCreate()" *ngIf="!isEditMode">Create</button>
      <button (click)="onQuizCreate()" *ngIf="isEditMode">Update</button>
      <button routerLink="/admin-home">Back</button>
    </div>
    <form>
      <div class="form-group">
        <label for="name">Quiz name</label>
        <!-- TODO set so that existing name is shown if editmode -->
        <input
          [(ngModel)]="quizName"
          type="text"
          class="form-control"
          name="name"
          required
        />
        <div class="required-alert" role="alert" hidden>
          The quiz needs a name!
        </div>
      </div>
      <div class="form-group">
        <!-- TODO set so that existing difficulty is shown if editmode -->
        <label for="difficulty">Difficulty</label>
        <select
          [(ngModel)]="quizDifficulty"
          class="form-control"
          name="difficulty"
        >
          <option value="0" disabled selected>Select difficulty...</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>
    </form>
    <div class="success-wrapper">
      <div
        *ngIf="!isEditMode && quizRecentlySubmitted"
        class="success-alert"
        role="alert"
      >
        Quiz {{ quizName }} created!
      </div>
      <div
        *ngIf="isEditMode && quizRecentlySubmitted"
        class="success-alert"
        role="alert"
      >
        Quiz {{ quizName }} updated!
      </div>
    </div>
    <div class="required-alert" role="alert" hidden>
      The quiz needs a difficulty!
    </div>
    <div *ngFor="let question of quizQuestions" class="list-item">
      <h3>{{ question.name }}</h3>
      <p>{{ question.question }}</p>
      <div class="button-group">
        <button
          (click)="onQuizQuestionRemove(question)"
          class="remove-button"
        >
          Remove
        </button>
      </div>
    </div>
  </section>
</div>
