.component-container {
  display: flex;
  flex-direction: row;
}

.list-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  box-shadow: 0 0.2rem 0.2rem rgb(0 0 0 / 30%);
  padding-bottom: 1rem;
}

.container1 {
  margin-left: auto;
}

.container2 {
  margin-right: auto;
}

h2 {
  margin-top: 1rem;
  padding: 1rem;
  align-self: center;
}

h3 {
  margin-bottom: 1rem;
}

.search {
  margin: 0 auto;
  padding: 1rem;
  outline: none;
  width: 90%;
}

.create-buttons {
  margin: 0 auto;
  /* margin-bottom: 1rem; */
  display: flex;
  flex-direction: row;
}

.list-item {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 0.5rem;
  padding: 1rem;
  width: 90%;
  box-shadow: 0 0.2rem 0.2rem rgb(0 0 0 / 30%);
  background-color: #e08dab54;
  user-select: none;
  transition: transform 0.25s;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

button {
  color: #fff;
  background-color: #007bff;
  border: 0;
  border-radius: 0.2rem;
  margin-left: 1rem;
  padding: 0.5rem;
}

.button-group button {
  margin-top: 1rem;
}

button:hover {
  cursor: pointer;
  opacity: 0.5;
}

form {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  padding: 0.2rem;
  border-radius: 0.1rem;
}

label {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

input {
  width: 100%;
  min-width: 0;
}

input:focus {
  outline: none;
}

select, select option {
  width: 100%;
  min-width: 0;
  background-color: #fff;
}

.remove-button {
  background-color: #AF1B3F;
}

.list-item:hover {
  cursor: pointer;
  transform: scale(1.025);
}
