<!DOCTYPE html>

<div class="card">
  <img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="login-image" />

  <!-- TODO lägg till form logik med ngIf, submit osv. -->
  <form
    *ngIf="!isSuccessful"
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate
  >
    <div class="form-group">
      <label for="firstname">First name</label>
      <input
        [(ngModel)]="form.firstName"
        type="text"
        class="form-control"
        name="firstname"
        required
        #firstname="ngModel"
      />
      <div
        class="required-alert"
        *ngIf="firstname.errors && f.submitted"
        role="alert"
      >
        <div *ngIf="firstname.errors['required']">
          Firstname is required to register!
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="lastname">Last name</label>
      <input
        type="text"
        class="form-control"
        name="lastname"
        [(ngModel)]="form.lastName"
        required
        #lastname="ngModel"
      />
      <div
        class="required-alert"
        *ngIf="lastname.errors && f.submitted"
        role="alert"
      >
        <div *ngIf="lastname.errors['required']">
          Lastname is required to register!
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        name="username"
        [(ngModel)]="form.userName"
        required
        #username="ngModel"
      />
      <div
        *ngIf="username.errors && f.submitted"
        class="required-alert"
        role="alert"
      >
        <div *ngIf="username.errors['required']">
          Username is required to register!
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        [(ngModel)]="form.password"
        required
        minlength="6"
        #password="ngModel"
      />
      <div
        class="required-alert"
        *ngIf="password.errors && f.submitted"
        role="alert"
      >
        <div *ngIf="password.errors['required']">Password is required</div>
        <div *ngIf="password.errors['minlength']">
          Password must be at least 6 characters
        </div>
      </div>
      <div class="form-group">
        <label for="age">Age (Optional)</label>
        <input
          type="text"
          inputmode="numeric"
          class="form-control"
          name="age"
          [(ngModel)]="form.age"
          maxlength="3"
          #age="ngModel"
        />
      </div>
      <div class="form-group">
        <label for="sex">Sex (Optional)</label>
        <div class="sex-group">
          <div class="radio-pair">
            <label for="sex-male">Man</label>
            <input type="radio" class="form-control" name="sex" id="sex-male" />
          </div>
          <div class="radio-pair">
            <label for="sex-female">Woman</label>
            <input
              type="radio"
              class="form-control"
              name="sex"
              [(ngModel)]="form.sex"
              id="sex-female"
              #sex="ngModel"
            />
          </div>
        </div>
      </div>
      <div class="form-group">
        <button>Register</button>
      </div>
      <div class="form-group">
        <div *ngIf="isPostFailed" class="required-alert" role="alert">
          Login failed: errorMessage binding
        </div>
        <div *ngIf="isSuccessful" class="success-alert">
          Logged in as INLOGGAD_ADMIN binding.
        </div>
      </div>
    </div>
  </form>
</div>
